.background-element {
  $self: &;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;

  &--centered {
    @extend #{ $self };
    object-position: center center;
  }

  &--center-bottom {
    @extend #{ $self };
    object-position: center bottom;
  }

  &--top-left {
    @extend #{ $self };
    object-position: 10% 5%;
    @include media-breakpoint-down(sm) {
      object-position: 0% 0%;
    }
  }

  &__overlay {
    @extend #{ $self };
    background-color: black;
    z-index: -1;
  }
}