@import '/node_modules/bootstrap/scss/_functions';
@import '/node_modules/bootstrap/scss/_variables';
@import '/node_modules/bootstrap/scss/mixins/_breakpoints';

/* Text */
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Colors */
$color--light: #f0f0f0;
$color--dark: #161619;

/* Markdown */
$markdown-max-width: 900px;
$markdown-border-radius: 10px;

/* Animations */
@mixin fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

$transform-transition: transform 200ms linear;
$bg-color-transition: background-color 300ms linear;