@import "./customized-bootstrap-styles.scss";

/* BEM Mixins */
@mixin element($element) {
  &__#{$element} {
      @content;
  }
}

@mixin modifier($modifier) {
  &--#{$modifier} {
      @content;
  }
}

/* Text */
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Colors */
$color--light: #f0f0f0;
$color--dark: #161619;

@mixin bg-color--light {
  background-color: $color--light;
  color: $color--dark;
}

@mixin bg-color--dark {
  background-color: $color--dark;
  color: white;
}

/* Animations */
@mixin fade-in {
  opacity: 1;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* NavBar and OffCanvas */

.nav {
  @include element('site-logo') {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
  }
  @include element('link') {
    font-size: 1.2em;
    color: $color--light;
    @include modifier('off-canvas') {
      @include font-size(4.2rem);
      padding-top: 0rem;
      padding-bottom: 0rem;
    }
  }
  @include element('social-media-logo') {
    @include modifier('off-canvas') {
      @include font-size(3rem);
    }
  }
  @include modifier('fade-in') {
    @include fade-in;
  }
  @include modifier('under-logo') {
    position: absolute;
    z-index: auto;
    top: 0px;
    right: 0px;
  }
}

// default bootstrap Nav values for reference
// .fixed-top {
//   position: fixed;
//   z-index: 1030;
// }

.navbar-toggler {
  position: fixed;
  top: 0px;
  right: 0px;
}

/* TitleCards */
.title-card__title {
  font-size: 2.2rem;
  font-weight: 600;
}

.title-card__img {
  min-width: 100%;
  object-fit: cover;
}

.title-card__gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 90%, transparent);
}

.cover-section__bg--dark {
  @include bg-color--dark;
}

.main-content__bg--light {
  @include bg-color--light;
}

/* Landing Screen */
.home-landing__video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

.home-landing__video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -2;
}

/* Home - Landing Section */
.home-landing {
  color: white;
  position:relative;
  width:100%;
  height:100vh;
  min-height:640px;
  overflow: hidden;
}

.home-landing__header {
  font-family: europa, Lato, sans-serif;
}

.home-landing__lead {
  font-family: 'Montserrat', sans-serif;
}

.home-landing__button {
  min-width: 200px;
}

/* Home - My Work Section */
.home-work {
  @include bg-color--light;
}

.home-work__header{
  font-weight: 700;
}

.home-work__lead{
  @include font-smoothing;
  display: inline;
}

.home-work__skills-button {
  width: 16rem;
  padding-bottom: .5rem;
  font-size: 2.4rem;
}

/* Home - Featured Section */
.home-featured {
  @include bg-color--dark;
}

.home-featured__header {
  font-weight: 600;
  max-width: 22rem;
}

.home-featured__image {
  max-width: 350px;
  object-fit: contain;
}

.home-featured__title {
  font-size: 2rem;
  font-weight: 500;
}

.home-featured__description {
  font-size: 2rem;
  font-weight: 200;
}

.home-featured__button {
  width: 18rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* Home - About Section */

.home-about {
  @include bg-color--light;
  @include element('header') {
    font-weight: 700;
  }
  @include element('description') {
    @include font-smoothing;
    font-weight: 300;
    font-size: 2rem;
    @include modifier('bold') {
      font-weight: 500;
    }
  }
  @include element('image') {
    max-height: 520px;
    border-radius: 5px;
  }
}

/* Work Page */
.work-card {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  @include element('image') {
    width: 100%;
    height: 100%;
    max-height: 420px;
    object-fit: cover;
  }
  @include element('title') {

  }
  @include element('description') {
    font-size: 1.4rem;
    @include media-breakpoint-down(md) {
      font-size: 1.3rem;
      }
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
    }
  }
  @include element('button') {
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }
}

.work {
  @include element('header') {
    @include font-smoothing;
    font-weight: 700;
  }
}

.filter-button-group {
  @include element('button') {
    @include media-breakpoint-down(md) {
      font-size: 1.5rem;
    }
    @include media-breakpoint-down(sm) {
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: 1.2rem;
    }
  }
}

/* Media Breakpoints */
@include media-breakpoint-down(xl) {
  .title-card__title {
    font-size: 1.9rem;
  }
}

@include media-breakpoint-down(lg) {
  .title-card__title {
    font-size: 1.8rem;
  }
  .title-card__img {
    max-height: 140px;
  }
  .home-featured__description {
    font-size: 1.8;
  }
  .home-featured__button {
    width: 16rem;
    font-size: 1.9rem;
  }
  .home-featured__image {
    max-width: 290px;
  }
}

@include media-breakpoint-down(md) {
  .home-work__skills-button {
    width: 14rem;
    font-size: 1.9rem;
  }
  .home-featured__header {
    font-size: 2.4rem;
    max-width: 30rem;
  }
  .home-featured__title {
    font-size: 1.8rem;
  }
  .home-featured__description {
    font-size: 1.6rem;
  }
  .home-featured__button {
    width: 16rem;
    font-size: 1.8rem;
  }
  .home-featured__image {
    max-width: 270px;
    width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .home-featured__description {
    @include font-smoothing;
  }
}