@import "./customized-bootstrap-styles.scss";

$bg--off-white: #f0f0f0;
$bg--dark: #161619;

/* Nav */
.nav-top .nav-link, svg {
  font-size: 1.2em;
}

.nav-top svg {
  color: $bg--off-white;
}

.nav-offcanvas {
  font-size: 2.2em;
}

/* TitleCards */
.title-card__title {
  font-size: 2.2rem;
  font-weight: 600;
}

.title-card__img {
  min-width: 100%;
  object-fit: cover;
}

.title-card__gradient {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), 90%, transparent);
}

/* Home Screen */
.videoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: -1;
}

#homeScreenVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: -2;
}

// Home - Section 01
#Section01 {
  // border: 5px dotted red;
  color: white;
  position:relative;
  width:100%;
  height:100vh;
  min-height:640px;
  overflow: hidden;
}

#Section01 h1 {
  font-family: europa, Lato, sans-serif;
}

#Section01 p {
  font-family: 'Montserrat', sans-serif;
}

#Section01 .btn {
  min-width: 200px;
}

// Home - My Work Section
.my-work {
  color: #161619;
  background-color: #f0f0f0;
}

.my-work__header{
  font-weight: 700;
}

.my-work__lead{
  padding-bottom: 2rem;
}

.my-work__skills-button {
  width: 16rem;
  padding-bottom: .5rem;
  font-size: 2.4rem;
}

#Section03 {
  color: white;
  background-color: $bg--dark;

  // color: $bg--dark;
  // background-color: #DADADA;
  min-height:640px;
  border-width: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#Section03 h2{
  font-weight: 700;
  padding-bottom: 2rem;
}

#Section03 .border-bottom{
  max-width: 22rem;
}

#Section03 img{
  max-height: 50rem;
}

#Section03 h3{
  font-weight: 500;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

#Section03 p{
  font-size: 2rem;
  font-weight: 200;
  padding-bottom: 2rem;

}

#Section03 .btn {
  width: 18rem;
  padding-bottom: .5rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@include media-breakpoint-down(xl) {
  .title-card__title {
    font-size: 1.9rem;
  }
}

@include media-breakpoint-down(lg) {
  .title-card__title {
    font-size: 1.8rem;
  }
  .title-card__img {
    max-height: 140px;
  }
}

@include media-breakpoint-down(md) {
  .my-work__skills-button {
    width: 14rem;
    font-size: 1.9rem;
  }
}