@import "./mixins-and-vars";
@import "/node_modules/rfs/scss";

/* Work Page */
.work-card-group {
  max-width: 1600px;
  @include media-breakpoint-down(md) {
    max-width: 550px;
  }
}

.work-card {
  margin-left: auto;
  margin-right: auto;
  &__image {
    max-height: 420px;
    object-fit: cover;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &__title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .25rem;
    @include media-breakpoint-down(lg) {
      font-size: 1.8rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 1.6rem;
    }
  }
  &__description {
    font-size: 1.3rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.1rem;
    }
  }
  &__button {
    padding-left: .75rem;
    padding-right: .75rem;
    @include media-breakpoint-down(sm) {
      font-size: 1.2rem;
    }
  }
}

.filter-button-group {
  &__button {
    @include font-size(1.6rem);
    @include media-breakpoint-down(sm) {
      padding-left: .5rem;
      padding-right: .5rem;
      font-size: 1.3rem;
    }
  }
}

.work-project-page {
  &__lead {
    @include font-size(1.6rem);
    max-width: 950px;
    font-weight: 200;
    @include media-breakpoint-down(sm) {
      @include font-size(1.2rem);
    }
  }
}

.tag {
  &__small {
    font-size: .9rem;
    padding-right: .6rem;
    padding-left: .6rem;
    padding-bottom: .15rem;
    padding-top: .15rem;
    @include media-breakpoint-down(sm) {
      font-size: .85rem;
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
}

.work-video-modal {
  width: 80%;
  max-width: calc(var(--aspect-ratio) * 90vh) !important;
}